<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>see what's happening in the world right now</h2>
        <img src="https://p.kindpng.com/picc/s/228-2288113_5-png-bird-clip-art-and-cartoon-birds.png" alt="logo">
    </center>
</body>
</html>